
<mat-card>
    <mat-card-content>
        <h3>The username is <strong>{{userobj.username}}</strong></h3>
    
    
        <h3>User Id of this user is <strong>{{userobj.id}}</strong></h3>
        <!-- <button class="btn btn-primary" [routerLink]="['/users' , userobj.id, 'edit']">Edit User</button> -->
        <button mat-raised-button color="primary" [routerLink]="['/users' , userobj.id, 'edit']">Edit User</button>
        
    </mat-card-content>
</mat-card>

<a href="javascript:;" [routerLink]="['/users', 3]">
    Load July
</a>