<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="form-group">
            <label for="pname">Product name</label>
            <input type="text" #pname id="pname" [value]="ProductObjE.pname" class="form-control">
        </div>
        <div class="form-group">
            <label for="pstatus">Product status</label>
            <select id="pstatus" #pstatus  [value]="ProductObjE.pstatus" class="form-control">
                <option value="In-progress">Inprogress</option>
                <option value="Dispatched">Dispatched</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>
        <div class="text-right">
            <!-- <button class="btn btn-primary" (click)="onproductUpdate(pname,pstatus)">Upadte Product</button> -->
            <button mat-raised-button color="primary" (click)="onproductUpdate(pname,pstatus)">Upadte Product</button>
            
        </div>
    </div>
</div>