
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <!-- <li class="list-group-item" [ngClass]="{active : selectedProductid === prod.pid}" *ngFor="let prod of productInfo"> -->
            <li class="list-group-item" [routerLink]="['/products',prod.pid]" [class.active]="prod.pid === selectedProductid" *ngFor="let prod of productInfo">
                {{prod.pname}}
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <!-- <app-product></app-product>
        <button class="btn btn-primary mt-4" (click)="onuserClick()">
            Go to Users
        </button>
        <a routerLink="/users"  class="btn btn-primary ml-4 mt-4">Go to users using template</a>
    </div> -->
</div>